<!DOCTYPE html>
<html lang="en">
<head>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css"/>

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="a col-md-2">
              <span
                      id="14"
                      class="border border-primary w-100"
              >
                </div>
                <div class="b col-md-8">
                    <div
                            id="second-player"
                            class="row text-center justify-content-center form-group"
                    >
                        <span class="border border-success m-1 w-16" id="13"></span>
                        <span class="border border-success m-1 w-16" id="12"></span>
                        <span class="border border-success m-1 w-16" id="11"></span>
                        <span class="border border-success m-1 w-16" id="10"></span>
                        <span class="border border-success m-1 w-16" id="9"></span>
                        <span class="border border-success m-1 w-16" id="8"></span>
                    </div>
                    <div class="row text-center form-group">
                        <div class="col">
                            <button id="start" class="btn btn-outline-info w-25">
                                Start
                            </button>
                        </div>
                    </div>
                    <div
                            id="first-player"
                            class="row text-center justify-content-center form-group"
                    >
                        <span class="border border-success m-1 w-16" id="1"></span>
                        <span class="border border-success m-1 w-16" id="2"></span>
                        <span class="border border-success m-1 w-16" id="3"></span>
                        <span class="border border-success m-1 w-16" id="4"></span>
                        <span class="border border-success m-1 w-16" id="5"></span>
                        <span class="border border-success m-1 w-16" id="6"></span>
                    </div>
                </div>
                <div class="c col-md-2">
               <span
                       id="7"
                       class="border border-primary w-100"
               >
              </span>
                </div>
            </div>
        </div>
        <div class="card-footer" id="footer">
            <div class="row text-center form-group">
                <div class="col">
                    <strong id="playerTurn"></strong>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
<script src="/js/home.js"></script>
</html>
